<app-header></app-header>
<br>
<br>
<div class="container">
    <div class="row">
        <div>
            <img src="./assets/dashboard.png" class="img-fluid" alt="Responsive image">

        </div>

        <div class="col-md-12 col-lg-12 col-xl-12 mb-r">
            <p>
                <strong style="font-size:25px">Hello!</strong>
            </p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Tincidunt eget nullam non
            nisi est sit amet facilisis magna. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam.
            Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. A condimentum vitae sapien pellentesque
            habitant. Eget gravida cum sociis natoque penatibus et magnis dis parturient. Enim diam vulputate ut pharetra
            sit amet aliquam id. Sit amet aliquam id diam maecenas. Eget duis at tellus at. Eleifend quam adipiscing vitae
            proin sagittis. Lobortis elementum nibh tellus molestie. Orci eu lobortis elementum nibh. Adipiscing at in tellus
            integer feugiat scelerisque varius morbi enim. At tempor commodo ullamcorper a lacus vestibulum. Et egestas quis
            ipsum suspendisse ultrices gravida dictum fusce. Diam vel quam elementum pulvinar etiam. Ut aliquam purus sit
            amet luctus.
        </div>
    </div>

</div>
<app-footer></app-footer>